{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
    <div class="flex flex-row items-center justify-center py-2">
        <button id="buttonBuy" class="px-4 py-2 text-xs font-bold text-white bg-green-600 rounded-lg hover:bg-green-700">
            BUY {{crypto.formatted_symbol}}
        </button>
    </div>
    <div class="flex flex-row items-center justify-center py-2">{{crypto.selling_text}}</div>
    <form id="buyForm" class="hidden">
        <input type="text" id="amountInput" placeholder="Enter amount">
        <button id="buyButton" class="px-4 py-2 text-xs font-bold text-white bg-green-600 rounded-lg hover:bg-green-700">
            Buy
        </button>
    </form>
    {% else %}
        <div class="flex flex-row items-center justify-center py-2">
            <a href="{% url 'account_login' %}" class="px-4 py-2 text-xs font-bold text-white bg-green-600 rounded-lg hover:bg-green-700">
                BUY {{crypto.formatted_symbol}}
            </a>
        </div>
        <div class="flex flex-row items-center justify-center py-2">{{crypto.selling_text}}</div>
        <form id="buyForm" class="hidden">
            <input type="text" id="amountInput" placeholder="Enter amount">
            <button id="buyButton" class="px-4 py-2 text-xs font-bold text-white bg-green-600 rounded-lg hover:bg-green-700">
                Buy
            </button>
        </form>
    {% endif %} 
   
{% endblock content %} {% endcomment %}