{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container flex items-center justify-center px-4 mx-auto mt-8 text-gray-800 dark:bg-gray-700 dark:text-gray-200">
    <div class="justify-center w-full max-w-md px-4 py-8 mx-auto dark:bg-gray-800">
      <div class="mb-4 text-3xl font-semibold">Payment Canceled</div>
    
    <div class="p-4 mb-4 bg-gray-200 rounded-md dark:bg-gray-900">      
      <p class="text-lg">We're sorry, but your payment has been canceled.</p>
      <p class="text-lg">If you have any questions or need further assistance, please don't hesitatse to contact our support team.</p>
    </div>
    <br/>
  </div>
</div>
{% endblock %}