{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="flex w-full h-full ">
    <div class="flex mx-auto md:flex-row md:max-w-2xl ">
        <div class="flex items-center justify-center flex-auto md:justify-between md:w-1/3">
            <img src="{{ MEDIA_URL }}brand_images/logo_b.svg" class="w-18 h-18">
        </div>
        <div class="container p-4 mx-auto text-gray-800 dark:text-gray-200">
            <div>
                <div class="py-6 ml-10 font-serif text-xl font-extrabold text-left from-neutral-900 md:text-3xl">Perfect Time to Invest in Crypto.</div>
                <p class="w-11/12 text-justify md:w-1/2">Unlock the Potential of Crypto Investments with CoinLuxe</p>
            </div>
        </div>
    </div>
</div>
<div class="flex flex-row space-x-4 justify-">
    {% comment %} <div class="flex">
        <img src="{{ MEDIA_URL }}brand_images/black_phone.png"  class="w-1/12 aspect-w-6">
    </div>
    <div class="flex">
        <img src="{{ MEDIA_URL }}brand_images/page.png" class="">
    </div> {% endcomment %}
</div>
{% endblock %}

