{% extends "base.html" %} {% load static %} {% block content %}



<div class="container p-4 mx-auto text-gray-800 dark:text-gray-200">
    <div class="flex flex-row items-center justify-between space-x-2 font-bold">
        <div class="flex items-center">
            <div class="px-2 pt-1">
                <img src="{{ MEDIA_URL }}coin_images/{{ coin.id }}.png" alt="{{ coin.name }}" class="w-10 h-10 md:w-24 md:h-24">
            </div>
            <div class="text-gray-800 dark:text-gray-200">
                <p class="text-sm break-words md:text-3xl">{{ coin.name }}</p>
                <p class="text-sm break-words md:text-3xl">({{ coin.formatted_symbol }})</p>
            </div>
        </div>
        <div class="flex flex-col items-center py-2 ">
            <bold class="mr-2 text-xs text-gray-400 md:text-2xl">Rank {{ crypto.market_cap_rank }}#</bold>
            <p class="mr-2 text-xs text-gray-800 dark:text-gray-200 md:text-2xl">1 {{ coin.formatted_symbol }} = {{ crypto.formatted_current_price }} €</p>
        </div>
    </div>
    

    <a href={{ coin.formatted_homepage }} target="_blank" class="p-4 py-2 mr-2 text-xs text-justify md:text-sm">
        {{ coin.formatted_homepage }} 
    </a>
    <div class="w-full">
        {{ chart|safe }}
    </div>
    <div class="flex flex-row items-center justify-center">
        {% if crypto.integer_24h_change > 0 %}
        <p class="font-bold text-green-500 ">{{coin.name }} is up {{crypto.formatted_price_change_24h}}%</p>
        {% else %}
        <p class="font-bold text-red-500 ">{{coin.name }} is down {{crypto.formatted_price_change_24h}}%</p>
        {% endif %}
    </div>
    <div class="flex flex-row items-center justify-center py-2">
        <a href="{% url 'buy_crypto' pk=crypto.id %}" class="px-4 py-2 text-xs font-bold text-white bg-green-600 rounded-lg hover:bg-green-700">
            BUY {{crypto.formatted_symbol}}
        </a>
    </div>
    
    </br>
    <hr class="p-2">

    {% if coin.description %}
    <div class="flex py-2 font-bold md:text-2xl">Description:</div>
    <div class="justify-center py-2 text-sm text-justify md:text-xl">{{coin.description|safe}}</div>
    {% endif %}
    <hr class="p-2">
    <div class="flex font-bold md:text-2xl">Blockchain Site: </div>
    <a href={{ coin.formatted_blockchain_site  }} target="_blank" class="p-4 py-2 mr-2 text-sm text-justify text-gray-700 md:text">
        {{ coin.formatted_blockchain_site }} 
    </a>

</div>

{% endblock %}