{% extends '../base.html' %}
{% block content %}

<h5 class="px-4 pt-4 text-xl font-bold text-gray-400  md:text-2xl">Cryptocurrencies</h5>
<div class="px-4 mt-2 md:px-0">
    <table class="w-full shrink">
        <thead class="border-b border-gray-100 dark:border-gray-700">
            <tr>
                <th class="px-2 py-3 text-sm font-semibold text-left bg-transparent dark:text-gray-200 md:px-4 md:text-2xl"><div class="">Symbol</div></th>
                <th class="px-4 py-3 text-sm font-semibold text-left bg-transparent dark:text-gray-200 md:text-2xl"><div class="">Price €</div></th>
                <th class="px-4 py-3 text-sm font-semibold text-left bg-transparent dark:text-gray-200 md:text-2xl"><div class="">M Cap</div></th>
                <th class="px-4 py-3 text-sm font-semibold text-left bg-transparent dark:text-gray-200 md:text-2xl"><div class="hidden md:flex">Volume</div></th>
                <th class="px-4 py-3 text-sm font-semibold text-left bg-transparent dark:text-gray-200 md:text-2xl"><div class="">Daily</div></th>
                <th class="px-4 py-3 text-sm font-semibold text-left bg-transparent dark:text-gray-200 md:text-2xl"><div class="hidden md:flex">Updated</div></th>
            </tr>
        </thead>
        <tbody class="shrink">
            {% for crypto in page_obj %}
            <tr class="cursor-pointer" onclick="location.href='{% url 'coin' pk=crypto.id %}'">
                
                <td class="px-4 py-3 font-medium border-b border-gray-4 dark:border-gray-700 ">
                    <div class="flex items-start">
                        <div class="flex flex-col items-center justify-center md:px-4">
                            <div class="py-0.5">
                                <img class="w-10 h-10" src="{{ crypto.image }}" alt="{{crypto.name}} Logo" />
                            </div>
                            <div class="text-xs text-gray-800 md:text-1xl dark:text-gray-200">
                                {{ crypto.formatted_symbol }}
                            </div>
                        </div>
                    </div>
                </td>
            
                <td class="px-4 py-3 font-medium border-b border-gray-4 dark:border-gray-700 min-w-fit">
                    <h5 class="text-sm tracking-tight text-gray-800 md:text-1xl dark:text-gray-200">{{ crypto.formatted_current_price }}</h5>
                </td>
            
                <td class="px-4 py-3 font-medium border-b border-gray-100 dark:border-gray-700">
                    <h5 class="text-sm tracking-tight text-gray-800 md:text-1xl dark:text-gray-200">{{ crypto.formatted_market_cap }}</h5>
                </td>
            
                <td class="px-4 py-3 font-medium border-b border-gray-100 dark:border-gray-700">
                    <h5 class="hidden text-sm tracking-tight text-gray-800 md:text-1xl dark:text-gray-200 md:flex">{{ crypto.formatted_total_volume }}</h5>
                </td>
            
                <td class="px-4 py-3 font-medium border-b border-gray-100 dark:border-gray-700">
                    {% if crypto.integer_24h_change > 0 %}
                    <div class="text-green-600">
                        <h5 class="text-sm tracking-tight md:text-1xl">
                            +{{ crypto.formatted_price_change_24h }}% 
                        </h5>
                    </div>
                    {% elif crypto.integer_24h_change < 0 %}
                    <div class="text-red-500">    
                        <h5 class="text-sm tracking-tight md:text-1xl ">
                            {{ crypto.formatted_price_change_24h }}%
                        </h5>
                    </div>
                    {% else %}
                    <h5 class="text-sm tracking-tight md:text-1xl dark:text-gray-200">
                        {{ crypto.formatted_price_change_24h }}
                    </h5>
                    {% endif %}
                </td>
            
                <td class="px-4 py-3 font-medium border-b border-gray-100 dark:border-gray-700">
                    <h5 class="hidden text-sm tracking-tight text-gray-800 md:text-1xl dark:text-gray-200 md:flex">{{ crypto.formatted_last_updated }}</h5>
                </td>
            </tr>
            
            {% endfor %}
        </tbody>
    </table>
    <br />
    <nav aria-label="Page navigation cryptos" class="flex justify-center space-x-0">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1" class="px-3 py-2 ml-0 text-sm leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}" class="px-3 py-2 ml-0 text-sm leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">previous</a>
            {% endif %}
    

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="px-3 py-2 text-sm leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}" class="px-3 py-2 text-sm leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">last &raquo;</a>
            {% endif %}
        </span>
    </nav>
    
</div>
{% endblock %}