{% extends "base.html" %}
{% load tailwind_filters %}
{% block content %}
    <h5 class="px-4 pt-4 text-xl font-bold text-gray-400 md:text-2xl">Buy Product</h5>
    <br>
    <div class="row">
        <div class="container mx-auto">
            <div class="flex flex-wrap">
                <div class="w-full md:w-1/2">
                    <div class="px-4 py-10">
                        <img src="{{ MEDIA_URL }}{{product.image }}" alt="{{ product.name }}" class="w-1/2 md:w-full">
                    </div>
                </div>
                <div class="w-full p-2 md:w-1/2">
                    <div class="p-4">
                        <h2 class="mb-4 text-3xl font-bold text-gray-800 dark:text-gray-200">{{ product.name }}</h2>
                        <p class="text-gray-800 dark:text-gray-200">{{ product.description }}</p>
                        <p class="font-bold text-gray-800 dark:text-gray-200">Price: {{ product.price }}€</p>
                    </div>
                    <form id="buyProductForm" method="POST" action="{% url 'buy_product' pk=product.id %}" class="mb-2">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="px-4 py-2 text-xs font-bold text-white bg-green-600 rounded-lg hover:bg-green-700">Buy Now!</button>
                        <a class="px-4 py-2 text-xs font-bold text-gray-800 bg-gray-200 rounded-lg md:text" href="{% url 'product_list' %}">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

<script>
    const form = document.getElementById('buyProductForm');
    form.addEventListener('submit', function(event) {
        event.preventDefault();
        const quantity = parseInt(document.getElementById('id_quantity').value);
        const price = parseFloat('{{ product.price }}');
        const totalCost = price * quantity;
        const confirmation = confirm(`Do you want to confirm the purchase of ${quantity} products for ${totalCost} price?`);
        if (confirmation) {
            form.submit();
        }
    });
</script>
