{% extends "base.html" %}
{% load tailwind_filters %}
{% block content %}
    <div class="container mx-auto">
        <div class="row">
            <div class="col-12 col-md-6">
                <hr>
                <h2 class="mb-4 text-3xl font-bold">Product Management</h2>
                <h5 class="text-gray-500">Edit a Product</h5>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6">
                <form method="POST" action="{% url 'edit_product' product.id %}" class="mb-2">
                    {% csrf_token %}
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="px-4 py-2 mr-2 text-sm text-gray-800 border border-gray-300 rounded-lg dark:text-gray-200"  value="Submit">Submit</button>
                      </form>
                        <a class="px-4 py-2 mr-2 text-sm text-gray-800 border border-gray-300 rounded-lg dark:text-gray-200" href="{% url 'product_list' %}">Cancel</a>
                    </div>
                </form>
            </div>            
        </div>
    </div>
{% endblock %}