{% extends '../base.html' %}
{% block content %}

<h5 class="px-4 pt-4 text-xl font-bold text-gray-800 dark:text-gray-200 md:text-2xl">Brand Products</h5>
{% for product in product_list %}
    <div class="flex justify-between md:w-1/2">
        <div class="flex-shrink-0 px-10 py-10 rounded-lg">
            <div class="p-3">
                <a href="#">
                    <img class="object-cover rounded-t-lg" src="{{ product.image }}" alt="Image of {{ product.friendly_name }}" />
                </a>
            </div>
            <div class="flex flex-row p-3 px-4 pt-2 space-x-4 h5">
                <h5 class="text-lg font-bold text-gray-900 dark:text-gray-200">{{ product.friendly_name }}</h5>
                <a href="{% url 'product_detail' pk=product.pk %}" class="px-4 py-2 text-xs font-bold text-gray-800 bg-gray-200 rounded-lg md:text">
                    Read more
                </a>
                {% if user.is_superuser %}
                    <a href="{% url 'edit_product' product_id=product.pk %}" class="px-4 py-2 text-xs font-bold text-gray-800 bg-gray-200 rounded-lg md:text">
                        Edit
                    </a>
                    <a href="{% url 'delete_product' product_id=product.pk %}" class="px-4 py-2 text-xs font-bold text-gray-800 bg-gray-200 rounded-lg md:text">
                        Delete
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}
        
    
</div>
{% endblock %}